@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*Schriftarten*/
:root {--schriftart1: 'Merriweather';--schriftart2: 'Raleway';}
/*Schriftgrössen*/
:root {--schriftgrosse1: 19pt;--schriftgrosse2: 14pt;--schriftgrosse3: 13pt;--schriftgrosse4: 11pt;--schriftgrosse5: 10pt;}
/*Farben*/
:root {--farbe1: #5a1f1f;--farbe2: #f3efe3;--farbe3: #1c1c1c;--farbe5: #ffffff;--farbe6: #999999;--farbe7: rgb(254, 184, 48);}
/*Allgemein*/
*{text-decoration:none;}
body{margin-top:0px;overflow:hidden;font-family:var(--schriftart2); font-size:var(--schriftgrosse4);border:5px solid transparent;-ms-overflow-style: none;/* IE and Edge */ scrollbar-width: none;/* Firefox */}
/*Breadcrumbs*/
.pferde-sattel-breadcrumbs-1{position:absolute;top:11px;left:45px;font-family:var(--schriftart2);font-size:var(--schriftgrosse5);color:var(--farbe3) !important;text-decoration:none;line-height:1.6;margin:0;}
a.fa2 {color:var(--farbe3);text-decoration:none;font-size:var(--schriftgrosse1);position:absolute;top:10px;margin:0 5px 0 0;}
/*Kontakt Icons */
div.divfa1{position:absolute;top:3px;right:0px;}
a.fa1 {font-size:19px !important;border-radius:100%;background-color:var(--farbe2);color:var(--farbe1);width:35px;height:35px;text-align:center;line-height:1.7;margin:2px 5px 0 1px;text-decoration:none ;-webkit-box-shadow: 5px 5px 9px -3px rgba(28,28,28,0.28); 
box-shadow: 5px 5px 9px -3px rgba(28,28,28,0.28);}
a.telefontext{color:var(--farbe4);text-decoration:none;background-color:var(--farbe2);height:26px;display:inline-block;line-height:1.6;margin:0 0 0 -21px;padding:0px 15px 4px 22px;border-radius:2px;font-size:15px !important;position:relative;top:-3px;-webkit-box-shadow: 5px 5px 9px -3px rgba(28,28,28,0.28); 
box-shadow: 5px 5px 9px -3px rgba(28,28,28,0.28);z-index:-1;}
/*Infobox*/
.container {position: relative;text-align: center;color: white;margin-top:65px;}
.container img{width:100%; object-fit: cover;}
.centered {position: absolute;display: block;width: 80%;margin-top: 10px;top: 50%;left: 50%;transform: translate(-50%, -50%);background-color: var(--farbe3);opacity: 0.88;padding: 8vh 10vh 15vh 8vh;}
.headertitel1{font-size:7vh;font-family:var(--schriftart1);line-height:1;}
/* Tabs */
.katalogtabs1{position: fixed;bottom: 0;width: 100%;display:block;}
.katalogtab1,.katalogtab2,.katalogtab3{display:inline-flex;justify-content: center;width:48%;text-align:center;padding-bottom:15px;margin:0;font-size:var(--schriftgrosse4);color:var(--farbe3);font-family:var(--schriftart2);}
.katalogtab3{display:none;}
/*Buttons*/
.headerbutton1{background-color:var(--farbe7);padding:8px 12px;display:inline;position:relative;top:47vh;z-index:+9999;color:var(--farbe1);}
.infoboxbutton1{display:inline-flex;font-family:var(--schriftart2);font-size:var(--schriftgrosse5);color:var(--farbe1);text-decoration:none;line-height:1.25;background-color:var(--farbe7);padding:10px 25px;border-radius:2px;-webkit-box-shadow: 5px 5px 9px -3px rgba(28,28,28,0.28); 
box-shadow: 5px 5px 9px -3px rgba(28,28,28,0.28);cursor:pointer;margin-top:10px;}
.divbutton{display: flex;justify-content: center;margin:0;}
a.button0 {font-family:var(--schriftart2);font-size:var(--schriftgrosse4);color:var(--farbe5);text-decoration:none;line-height:1.25;background-color:var(--farbe1);padding:10px 25px;border-radius:3px;-webkit-box-shadow: 5px 5px 9px -3px rgba(28,28,28,0.28); 
box-shadow: 5px 5px 9px -3px rgba(28,28,28,0.28);cursor:pointer;}
a.button1{}
a.button2{color:var(--farbe5);background-color:var(--farbe3);} 
a.button3{background-color:var(--farbe7);color:var(--farbe3);font-weight:700;}

/*** KATALOG ***/
.awesomeTable-visualization-cards .card-content{border-radius: 0rem;padding:0px;overflow:hidden;}
.card-content{position:relative;}
.relative{width:100%;height:200px;}
.btnContainer{bottom: 0;position: absolute;margin-bottom: 10px;margin-right: 10px;right: 0;}
.modal-image{max-height:400px;}
.awt_list>ul>li:before{display:none;}
.awt_list>ul{column-count: 3;}
/*Eigene CSS*/
.at-action-menu {display: none;}
.font-bold.text-xl.mb-2 {font-family: var(--schriftart1);color:var(--farbe3);font-size:var(--schriftgrosse2);font-weight:500;}
p.text-gray-700.text-base{font-size:var(--schriftgrosse3);font-family:var(--schriftart1);font-weight:300;color:var(--farbe1);margin-bottom:-10px;}
.info-farbe{font-family:'Raleway';font-size:var(--schriftgrosse5);font-weight:normal;background-color:#f5f5f5;color:var(--farbe3);padding:4px 20px;border-radius:2px;white-space: nowrap;margin-bottom:5px;display: inline-block;}
.divbutton {display:flex;justify-content:flex-end;}

/*** Responsive ***/
@media only screen and (max-width: 1044px) {
.container img{height:60%}
.centered{width:90%;}
}
@media only screen and (max-width: 760px) {
.container img{display:none;}
.centered{top:55px;}
.headerbutton1{top:41vh;}
}
@media only screen and (max-width: 580px) {
.container p{display:none;}
.centered{top:20px;padding-bottom:60px;}
.headerbutton1{top:19.5vh;font-size:90%;}
}
@media only screen and (max-width: 480px) {
.container{display:none;}
.texthide1,a.telefontext{display:none;}
.katalogtab1,.katalogtab2,.katalogtab3{padding-bottom:5px;width:31%;}
.katalogtab3{display:inline-flex;justify-content: center;width:31%;text-align:center;padding-bottom:15px;margin:0;}
}

@media only screen and (max-width: 528px) {
.controlers-filters {width: 50%;}
}
@media only screen and (max-width: 360px) {
.controlers-filters {width: 100%;}
}

