@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*Schriftarten*/
:root {--schriftart1: 'Libre Baskerville';--schriftart2: 'Raleway';}
/*Schriftgrössen*/
:root {--schriftgrosse1: 24pt;--schriftgrosse2: 14pt;--schriftgrosse3: 12pt;--schriftgrosse4: 10pt;}
/*Farben*/
:root {--farbe1: #6e2626;--farbe2: #f3efe3;--farbe3: #000000;--farbe5: #ffffff;--farbe6: #555555;}
/*Allgemein*/
body{margin-top:0px;overflow:hidden;font-family:'Raleway'; font-size:var(--schriftgrosse4);border:5px solid transparent;-ms-overflow-style: none;/* IE and Edge */ scrollbar-width: none;/* Firefox */}
/*Breadcrumbs*/
.pferde-sattel-breadcrumbs-1{position:absolute;top:8px;font-family:var(--schriftart2);font-size:var(--schriftgrosse4);color:var(--farbe3) !important;text-decoration:none;line-height:1.6;margin:0;}
a.fa2 {color:var(--farbe3);text-decoration:none;font-size:19px;position:relative;top:4px;margin:0 5px 0 0;}
/*Kontakt Icons */
div.divfa1{position:absolute;top:3px;right:0px;}
a.fa1 {font-size:19px !important;border-radius:2px;background-color:var(--farbe1);color:var(--farbe2);width:30px;height:30px;text-align:center;line-height:1.6;margin:2px 0 0 10px;text-decoration:none ;}
a.telefontext{color:var(--farbe2);text-decoration:none;background-color:var(--farbe1);color:var(--farbe5);height:26px;display:inline-block;line-height:1.7;margin:0 0 0 -10px;padding:0px 10px 4.5px 10px;border-radius:2px;font-size:16px !important;position:relative;top:-3px;}
/*Infobox*/
.infobox1{display:block;background-color:var(--farbe2);margin: 55px 0 0 0;padding:10px 25px 25px 25px;border-radius:2px;}
.titlehide1{display:block;}
 .texthide4{display:none;font-weight:900;}
/* Tabs */
.katalogtabs1{position: fixed;bottom: 0;width: 100%;display:block;}
.katalogtab1,.katalogtab2,.katalogtab3{display:inline-flex;justify-content: center;width:48%;text-align:center;padding-bottom:15px;margin:0;font-size:var(--schriftgrosse3);}
.katalogtab3{display:none;}
/*Buttons*/
.infoboxbutton1{display:inline-flex;font-family:var(--schriftart2);font-size:var(--schriftgrosse5);color:var(--farbe5);text-decoration:none;line-height:1.25;background-color:var(--farbe1);padding:10px 25px;border-radius:2px;-webkit-box-shadow: 5px 5px 9px -3px rgba(28,28,28,0.28); 
box-shadow: 5px 5px 9px -3px rgba(28,28,28,0.28);cursor:pointer;margin-top:10px;}

.divbutton{margin:7px 0 0 -8px;}
.button1{font-family:var(--schriftart2);font-size:var(--schriftgrosse3);color:var(--farbe5);text-decoration:none;line-height:1.25;background-color:var(--farbe1);padding:10px 25px;border-radius:3px;-webkit-box-shadow: 5px 5px 9px -3px rgba(28,28,28,0.28); 
box-shadow: 5px 5px 9px -3px rgba(28,28,28,0.28);cursor:pointer;}
@media only screen and (max-width: 360px) {
   div.divfa1{float:none;}
}
@media only screen and (max-width: 480px) {
    .infobox1{display:none;}
    .katalogtab1,.katalogtab2,katalogtab3{padding-bottom:5px;width:31%;}
  .texthide1{display:none;}
  .katalogtab3{display:inline-flex;justify-content: center;width:31%;text-align:center;padding-bottom:15px;margin:0;font-size:var(--schriftgrosse3);}
}
@media only screen and (max-width: 680px) {
  a.telefontext{display:none;}
  .texthide3{display:none;}
  .infobox1{padding:15px 25px;}
}
@media only screen and (max-width: 960px) {
  .infoboxbutton1{display:inline-flex;font-family:var(--schriftart2);font-size:var(--schriftgrosse4);color:var(--farbe4);text-decoration:none;line-height:1.25;background-color:transparent;padding:0px;-webkit-box-shadow: none; 
box-shadow: none;margin-top:0px;font-weight:900;}
}
@media only screen and (max-width: 1000px) {
   .texthide4{display:inline;}
   .titlehide1{display:none;}
}
@media only screen and (max-width: 1200px) {
}
