@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*Schriftarten*/
:root {--schriftart1: 'Libre Baskerville';--schriftart2: 'Raleway';}
/*Schriftgrössen*/
:root {--schriftgrosse1: 24pt;--schriftgrosse2: 14pt;--schriftgrosse3: 12pt;}
/*Farben*/
:root {--farbe1: #6e2626;--farbe2: #f3efe3;--farbe3: #000000;--farbe5: #ffffff;--farbe6: #555555;}
/*Allgemein*/
body {overflow:hidden;margin:0px;font-family:'Raleway'; font-size:12pt;border:5px solid transparent;-ms-overflow-style: none;/* IE and Edge */ scrollbar-width: none;/* Firefox */}
.pferde-sattel-breadcrumbs-1{font-family:var(--schriftart2);font-size:var(--schriftgrosse3);}
